main {
    padding-top: 64px;
}
.top-banner {
    background-color: #088eff;
    text-align: right;
}
.top-banner .inner {
    padding: 10px 114px 10px 98px;
    box-sizing: border-box;
    position: relative;
}
.top-banner .banner-box {
    overflow: hidden;
    position: relative;
    height: 44px;
    margin-right: 30px;
    color: #fff;
}
.top-banner .banner-box a {
    display: block;
    font-size: 17px;
    line-height: 44px;
    letter-spacing: -0.10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 20px;
    width: 100%;
    white-space: nowrap;

    animation-name: DirectLeft;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top-banner .banner-box .txt {
    position: relative;
}
.top-banner .banner-box .txt::before {
    content: '';
    margin: -2px 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 209px;
    height: 27px;
    background-image: url(../images/img_bannerlogo.png);
    background-size: 209px 27px;
    background-position: center center;
}
.top-banner .btn-close-banner {
    position: absolute;
    top: 26px;
    right: 114px;
    background-position: -125px -105px;
    width: 14px;
    height: 14px;
}
@keyframes DirectLeft {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.main-swiper {
    overflow: hidden;
}
.main-swiper video {
    display: block;
    width: 100%;
    object-fit: cover;
}
.main-swiper .swiper-slide {
    position: relative;
}
.main-swiper .swiper-slide .slide-text .mo-block {
    display: none;
}
.main-swiper .swiper-slide .slide-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    overflow: hidden;
    font-size: 100px;
    line-height: 1.2;
    letter-spacing: -2.4px;
    font-weight: 800;
    white-space: nowrap;
    color: #fff;
    text-shadow: 6px 6px 18px rgb(0 0 0 / 16%);
    padding: 20px;
    box-sizing: border-box;

    animation: wave-out 0.3s ease-out forwards,fade-out 0.2s linear forwards;
    
}
.main-swiper .swiper-slide.swiper-slide-active .slide-text {
    opacity: 0;
    animation: wave-in 0.3s ease-out forwards, fade 0.8s linear forwards;
    animation-delay: 0.8s;
}
@keyframes wave-in {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
@keyframes wave-out {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.sc-team {
    padding-bottom: 89px;
    background-color: #fafafa;
    color: #000;
}
.sc-team .inner1 {
    padding: 126px 104px 0;
    box-sizing: border-box;
    position: relative;
}
.sc-team .recruit-area {
    position: absolute;
    top: -27px;
    left: 104px;
    right: 105px;
    font-size: 0;
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
    z-index: 1000;
    background-color: #fff;
    padding-bottom: 0;
}
.sc-team .recruit-area fieldset {
    display: flex;
}
.sc-team .recruit-area .ic-box {
    display: flex;
    align-items: center;
    padding: 0 28px 0 21px;
}
.sc-team .recruit-area .ic-search {
    display: block;
    background-position: -245px -40px;
    width: 18px;
    height: 18px;;
}
.sc-team .keyword-search {
    display: flex;
    flex: 1;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
}
.sc-team .keyword-search .txt {
    margin-right: 9px;
    white-space: nowrap;
    color: #000;
}
.sc-team .keyword-search input {
    flex: 1;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 54px;
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
}
.sc-team .keyword-search input::placeholder {
    color: #b4b4b4;
    font-weight: bold;
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
}
.sc-team .recruit-area .select-box {
    display: flex;
    flex: 1;
    align-items: center;
}
.sc-team .recruit-area .select-box .txt {
    font-size: 14px;
    line-height: 54px;
    color: #000;
    font-weight: bold;
}
.sc-team .recruit-area .select-box .select-wrap {
    flex: 1;
    position: relative;
}

.sc-team .recruit-area .select-box select {
    position: relative;
    width: 100%;
    padding: 0 25px 0 9px;
    font-size: 14px;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: -0.30px;
    text-align: left;
    color: #d0d0d0;
    font-family: 'TTHoves', 'NanumSquare', sans-serif;
    cursor: pointer;
    background-image: url(../images/ico_arrow_down.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 8px 5px;
    box-sizing: border-box;

}
.sc-team .recruit-area .select-box option[value=""][disabled] {
    display: none;
}
.sc-team .recruit-area .select-box option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #000;
}
.sc-team .recruit-area .select:hover option {
    background: #333;
}
.sc-team button.pc-btn {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    width: 97px;
    height: 54px;
    line-height: 54px;
}
.sc-team .team-item .inner1 {
    padding: 0 104px 0;
}
.sc-team .team-list {
    margin-top: 70px;
}
.sc-team .team-item a {
    display: block;
}
.sc-team .team-item .inner1 {
    display: flex;
    flex: 1;
}
.sc-team .cata-wrap {
    padding: 20px 0;
    width: 50%;
    box-sizing: border-box;
}
.sc-team .team-item .desc {
    padding: 20px 0 20px 15px;
    width: 50%;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: -0.44px;
    box-sizing: border-box;
}
.sc-team .team-item .keytxt {
    font-size: 38px;
    line-height: 60px;
    letter-spacing: -0.34px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
}
.sc-team .team-item .more {
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    position: relative;
    margin-left: 18px;
    font-size: 15px;
    letter-spacing: -0.3px;
}
.sc-team .team-item .more::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -14px;
    background-position: -176px -105px;
    width: 9px;
    height: 9px;
}
.sc-team .team-item:hover,
.sc-team .team-item:focus {
    background-color: #ebebeb;
} 
.sc-people {
    padding-top: 95px;
    overflow: hidden;
}
.sc-people .people-slider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sc-people .swiper-wrapper {
    margin-top: 60px;
}
.sc-people .swiper-slide > a {
    display: block;
    width: 100%;
}
.sc-people .swiper-slide .img-box {
    padding-bottom: 47.403%;
    position: relative;
}
.sc-people .img-box img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-people .swiper-slide .link-more {
    margin-top: 4px;
}
.sc-people .txt-box .name {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.28px;
    color: #000;
}
.sc-people .txt-box .txt {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}
.sc-people .txt-box .txt::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #000;
}
.sc-benefit {
    padding-top: 112px;
}
.sc-benefit .benefit-slider {
    margin-top: 55px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sc-benefit .swiper-slide a {
    display: block;
    width: 100%;
}
.sc-benefit .swiper-slide .img-box {
    position: relative;
    padding-bottom: 100%;
}
.sc-benefit .img-box img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-benefit .txt-box .desc {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;
    color: #000;
}
.sc-recruit {
    padding: 95px 0 102px;
}
.sc-recruit .title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #000;
}
.sc-recruit .desc {
    display: inline-block;
    margin-top: 18px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.36px;
    color: #000;
    font-family: "NanumSquare", sans-serif;
    position: relative;
}
.sc-recruit .desc .txt {
    display: inline-block;
    vertical-align: middle;
}
.sc-recruit .desc .ic-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    background-position: -76px -172px;
    width: 32px;
    height: 32px;
    width: 33px;
}
/* 모바일 */
.mo-lnb {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 60px 52px;
    z-index: 1020;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #fff;

    display: none;
}
.mo-lnb .lnb-searchbox input {
    width: 100%;
    padding: 6px 30px 6px 0;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    text-align: left;
    box-sizing: border-box;
}
.mo-lnb .lnb-searchbox {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
}
.mo-lnb .lnb-searchbox input::placeholder {
    color: #d0d0d0;
}
.mo-lnb .lnb-searchbox .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 0;
    height: 42px;
}
.mo-lnb .lnb-searchbox .ic-search {
    display: block;
    background-position: -268px -40px;
    width: 15px;
    height: 15px;
}
.mo-lnb .select-box {
    margin-top: 45px;
}
.mo-lnb .select-depth1 {
    margin-top: 45px;
}
.mo-lnb .select-title {
    line-height: 26px;
    letter-spacing: -0.28px;
    font-size: 14px;
    font-weight: bold;
}
.mo-lnb .select-list {
    margin-top: 8px;
}
.mo-lnb .select-list .item {
    margin-top: 14px;
}
.mo-lnb .select-list .btn-select {
    position: relative;
    text-align: left;
}
.mo-lnb .select-list .ic-arrow {
    position: absolute;
    top: 10px;
    left: 0px;
    background-position: -136px -93px;
    width: 8px;
    height: 5px;
}
.mo-lnb .select-list .text {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding-left: 19px;
    line-height: 26px;
    letter-spacing: -0.28px;
    font-family: 'NanumSquare', sans-serif;
}
.mo-lnb .select-depth1 .btn-select::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
}
.mo-lnb .btn-clear {
    margin-top: 42px;
    position: relative;
    top: auto;
    right: auto;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.24px;
    font-weight: bold;
}
.mo-lnb .btn-clear::before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
}
.mo-lnb .sub-list .item {
    padding-left: 20px;
}
.mo-lnb .sub2-list .btn-select::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
}
.mo-lnb .btn-close {
    position: absolute;
    top: 24px;
    left: 22px;
    background-image: url(../images/sp_mo.png);
    background-size: 195px 181px;
    background-position: -110px -28px;
    width: 14px;
    height: 14px;
}
.sc-team .mo-searchbox {
    position: relative;
    display: block;
    background-color: #ebebeb;
    width: 100%;

    display: none;
}
.sc-team .mo-searchbox .btn-searchjob {
    width: 100%;
    padding: 10px 45px 10px 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: #696868;
    font-weight: bold;
    box-sizing: border-box;
    text-align: left;

    display: none;
}
.sc-team .ic-searchbox {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 10px 11px;

    display: none;
}
.sc-team .ic-mosearch {
    display: block;
    background-image: url(../images/sp_mo.png);
    background-size: 195px 181px;
    background-position: -140px -125px;
    width: 19px;
    height: 19px;

    display: none;
}
/* 스크립트 */
.mo-lnb.active {
    display: block;
}
.mo-lnb .lnb-searchbox.active {
    position: relative;
    border-bottom: 1px solid #000;
}
.mo-lnb .select-list .btn-select.active .ic-arrow {
    transform: rotate(-180deg);
}
.mo-lnb .sub-list {
    display: none;
}
.mo-lnb .select-list .btn-select.active .sub-list {
    display: block;
}
.mo-lnb .sub2-list {
    display: none;
}
.mo-lnb .btn-select .btn-select.active .sub2-list {
    display: block;
}
.mo-lnb .select-box .select-list .btn-select.on::before {
    border: 1px solid #000;
    background-color: #000;
}
.mo-lnb .select-depth1 .btn-select.on::before {
    border: 1px solid #000;
    background-color: #000;
}
@media screen and (max-width: 1408px) {
    /* 1023*/

    .sc-benefit .txt-box .desc br{
        display: none;
    }
}
@media screen and (max-width: 1023px) {
  /* 767 */

    main {
        padding-top: 60px;
    }
    .main-swiper .video-box {
        position: relative;
        padding-bottom: 62.4%;
    }
    .main-swiper video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main-swiper .swiper-slide .slide-text {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.8px;
    }
    .top-banner .inner {
        padding: 17px 22px;
    }
    .top-banner .banner-box {
        height: 26px;
        margin-left: 20px;
    }
    .top-banner .banner-box a {
        width: auto;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
    }
    .top-banner .banner-box .txt::before {
        content: '';
        width: 170px;
        height: 22px;
        background-size: 170px 22px;
        margin: 0 10px 0 0;
    }
    .top-banner .btn-close-banner {
        background-position: -125px -105px;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 23px;
        right: 21px;
    }
    .sc-team {
        padding: 22px 0 50px;
    }
    .sc-team .inner1 {
        padding: 0 22px;
    }
    .sc-team .recruit-area {
        display: block;
        position: static;
        margin-bottom: 59px;
        background-color: transparent;
        padding-bottom: 0;
    }
    .sc-team .recruit-area .ic-box {
        display: none;
    }
    .sc-team .keyword-search {
        display: none;
    }
    .sc-team .recruit-area .select-box {
        display: none;
    }
    .sc-team .pc-btn {
        display: none;
    }
    .main-swiper .swiper-slide .slide-text .mo-block {
        display: block;
    }
    .sc-team .team-list {
        margin-top: 29px;
    }
    .sc-team .team-item a {
        padding: 16px 0;
    }
    .sc-team .team-item .inner1 {
        padding: 0 22px;
        display: block;
    }
    .sc-team .cata-wrap {
        width: 100%;
        padding: 0;
    }
    .sc-team .team-item .keytxt {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -0.48px;
    }
    .sc-team .team-item .more {
        margin: 4px 0 0 14px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.28px;
    }
    .sc-team .team-item .more::after {
        top: 1px;
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: -129px -28px;
        width: 11px;
        height: 11px;
    }
    .sc-team .team-item .desc {
        margin-top: 1px;
        width: 100%;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
    }
    .sc-people {
        padding: 68px 0 56px;
    }
    .sc-people .swiper-wrapper {
        margin-top: 25px;
    }
    .sc-people .swiper-slide .img-box {
        padding-bottom: 100%;
    }
    .sc-people .swiper-slide .link-more {
        display: none;
    }
    .sc-benefit .txt-box .desc {
        margin-top: 3px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
    }
    .sc-recruit {
        padding: 71px 0 99px;
    }
    .sc-recruit .title {
        font-size: 20px;
        line-height: 34px;
        letter-spacing: -0.4px;
    }
    .sc-recruit .desc {
        margin-top: 16px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
    }
    .sc-recruit .desc .ic-link {
        margin: -1px 0 0 10px;
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: 0px -90px;
        width: 30px;
        height: 30px;
        width: 31px;
        height: 31px;
    }
    .sc-team .mo-searchbox {
        display: block;
    }
    .sc-team .mo-searchbox .btn-searchjob {
        display: block;
    }
    .ic-searchbox {
        display: block;
    }
    .ic-mosearch {
        display: block;
    }
    /* common */
    .inner1 {
        padding: 0 22px;
    }
    section .keytitle {
        margin-bottom: 11px;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -0.7px;
    }
    section .title-desc {
        padding-right: 20px;
        margin-bottom: 9px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
    }
    section .link-more {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.24px;
    }
    section .inner1 > div {
        padding-bottom: 46px;
    }
    section .txt-box {
        margin-top: 21px;
    }
    section .txt-box .title {
        padding-right: 20px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.36px;
    }
    section .swiper-button-prev.swiper-button-disabled {
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: -165px 0px;
        width: 30px;
        height: 30px;
    }
    section .swiper-button-prev {
        right: 40px;
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: -165px -70px;
        width: 30px;
        height: 30px;
    }
    section .swiper-button-next.swiper-button-disabled {
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: -70px -125px;
        width: 30px;
        height: 30px;
    }
    section .swiper-button-next {
        right: 0;
        background-image: url(../images/sp_mo.png);
        background-size: 195px 181px;
        background-position: -35px -90px;
        width: 30px;
        height: 30px;
    }

}
@media screen and (max-width: 767px) {



  /* common */
  section .title-desc {
    padding-right: 20px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
    display: inline;
  }
  section .link-more::after {
    bottom: 2px;
  }
}

